<div class="header">
    <h1 class="title">Admin Panel</h1>
</div>

<div class="content">
    <div id="filters" class="center-flex form-group">
        <div class="filter-group">
            <input type="radio" id="filter-all" name="filters" checked>
            <label for="filter-all">All</label>
        </div>
        <div class="filter-group">
            <input type="radio" id="filter-pending" name="filters">
            <label for="filter-pending">Pending</label>
        </div>
        <div class="filter-group">
            <input type="radio" id="filter-active" name="filters">
            <label for="filter-active">Active</label>
        </div>
        <div class="filter-group">
            <input type="radio" id="filter-rejected" name="filters">
            <label for="filter-rejected">Rejected</label>
        </div>
        <div class="filter-group">
            <input type="radio" id="filter-disabled" name="filters">
            <label for="filter-disabled">Disabled</label>
        </div>
    </div>

    <div class="result-filter" data-label="Filter Users" data-target="#users-list"></div>

    <div id="users-list"></div>
</div>