<body>
<div class = center>

<div>
    <h1>Create/Edit Group</h1>
<div>
  <label>Group Name:</label>
<input type="text" id="groupname" placeholder="New Group">
  </input>
<br><br>

<div>
  <h2>Set Priority:</h2>
  <form>
    <input type="radio" id="Very High" name="group_rank" value="Very High">
    <label for="Very High">Very High</label>
    <input type="radio" id="High" name="group_rank" value="High">
    <label for="High">High</label>
    <input type="radio" id="Neutral" name="group_rank" value="Neutral">
    <label for="Neutral">Neutral</label>
    <input type="radio" id="Low" name="group_rank" value="Low">
    <label for="Low">Low</label>
    <input type="radio" id="Very Low" name="group_rank" value="Very Low">
    <label for="Very Low">Very Low</label>
    </form> 
</div>

<div>
<button class="btn btn-primary">Cancel</button>
<button class="btn btn-primary">Update</button>
  </div>

</div>

</div>
</body>
