<div class="header">
    <p class="title">New Post</p>
</div>

<div class="post-form-container">
    <form action="/store_post" method="POST" enctype="multipart/form-data">
        <div class="post-form-content">
            <div>
                <div class="form-group">
                    <label for="form-title">Title</label>
                    <input type="text" class="form-control" name="title" id="form-title" required>
                </div>
                <div class="form-group">
                    <label for="">Caption</label>
                    <textarea class="form-control" name="caption" id="" rows="4" required></textarea>
                </div>
                <div class="form-group">
                    <label for="">Image</label>
                    <input type="file" class="form-control" name="image" accept="image/*" required>
                </div>
            </div>
        
            <div id="post-options">
                <div id="post-global" class="form-group">
                    <label for="global">Post Visibility</label>
                    <div class="radio-control">
                        <input type="radio" name="global" id="global" value="true">
                        <label for="global">Global Visibility</label>
                    </div>
                    <div class="radio-control">
                        <input type="radio" name="global" id="not-global" value="true">
                        <label for="not-global">Select Group Visibilities</label>
                    </div>
                </div>
                <div id="group-options" class="hidden">
                    <label for="group-select">Post to Groups</label>
                    <div id="group-select" class="master-checkbox">
                        <div class="checkbox-control master">
                            <input type="checkbox" id="opt-all" name="groups[]">
                            <label for="opt-all">All</label>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <button type="submit" class="btn btn-primary btn-lg pull-right">
            <span class="fas fa-edit"></span> Create Post
        </button>
    </form>
</div>