<div class = center> 
    <h1>My Groups</h1>
    
    <div class = "center-flex">
        <div>
            <button class="btn btn-primary">
                Sent Requests
            </button>
        </div>
        <div>
            <button class="btn btn-primary">
                Recieved Requests
            </button>
        </div>
        <div>
            <button class="btn btn-primary">
                Blocked Users
            </button>
        </div>
    </div>
    
    <div class = "row-2">
        <div class="row-2">
            
            <div class="post-profile-image-frame">
                <img id="post-profile-image" src="storage/images/default-profile-picture.jpg">
            </div>
            <div class="left-flex"><p>John Doe<br>@username</p></div>
        </div>
        
        <div class = "center-flex">
            <div>
                <button class="btn btn-primary">
                    <span class="fas fa-eye"></span> View
                </button>
            </div>
            <div>
                <button class="btn btn-danger">
                    <span class="fas fa-eye"></span> Remove
                </button>
            </div>
            <div>
                <button class="btn btn-danger">
                    <span class="fas fa-trash"></span> Block
                </button>
            </div>
        </div>
    </div>
 </div> 