<div class="header">
    <h1 class="title">Friends</h1>
</div>

<div class="content">
    <div id="friend-page-buttons" class="row-3 tabs">
        <button class="btn btn-primary" data-status="ACCEPTED" data-partial="friend_actions">
            <span class="fa-solid fa-user-group"></span> Friends
        </button>
        <button class="btn btn-primary" data-status="PENDING" data-initiator="false" data-partial="friend_request">
            <span class="fa-solid fa-spinner"></span> Pending Friend Requests
        </button>
        <button class="btn btn-primary" data-status="PENDING" data-initiator="true" data-partial="friend_actions">
            <span class="fa-solid fa-right-from-bracket"></span> Outgoing Friend Requests
        </button>
    </div>

    <div style="text-align: right; margin: 16px 0">
        <div class="btn btn-primary" data-toggle="modal" data-target="#add-friend-modal">
            <span class="fas fa-plus"></span> Add Friends
        </div>
    </div>

    <div class="result-filter" data-label="Filter Results" data-target="#friend-list"></div>
    
    <div id="friend-list"></div>
    <div id="no-friends-message">
        <h1 style="text-align: center">Nothing to Display</h1>
    </div>
</div>


<div class="modal" id="add-friend-modal">
    <form action="" method="PUT" class="multi-submit">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">
                <span aria-hidden="true">&times;</span>
            </button>
            <h1 class="underline">Add Friends</h1>
        </div>
        <div class="modal-body">
            <div class="form-group">
                <label class="typeahead-input" for="typeahead">Search Users</label>
                <div class="typeahead" data-input="target_user_id"></div>
            </div>
            <hr>
        </div>
        <div class="modal-footer" style="text-align: right">
            <button type="submit" class="btn btn-primary" data-action="/view_profile" data-method="POST">
                View Profile
            </button>
            <button type="submit" class="btn btn-success" data-action="/friend_request" data-method="PUT">
                Send Friend Request
            </button>
        </div>
    </form>
</div>