<div class="header">
    <h1 class="title">Group &ndash; Family</h1>
</div>

<div class="content">
    <form action="/add_group_member" method="PUT">
        <input type="hidden" name="group_id" id="hidden-group-field">
        <label for="typeahead-input">Search Friends</label>
        <div class="member-typeahead-container">
            <div class="typeahead" data-input="target_user_id" data-filter="FRIENDS_ONLY"></div>
            <button type="submit" id="member-add-button" class="btn btn-success">
                <span class="fas fa-plus"></span> Add To Group
            </button>
        </div>
    </form>

    <div id="member-list"></div>
</div>