<body>
<div class = center>

<div>
    <h1>Create/Edit Group</h1>
<div>
  <label>Group Name:</label>
<input type="text" id="groupname" placeholder="New Group">
  </input>
<br><br>

<div id="priority">
  <h2 id="setpriority">Set Priority</h2>
<input type="radio" id="veryhigh">
<label for="veryhigh">Very High</label>
<input type="radio" id="high">
<label for="high">High</label>
<input type="radio" id="neutral">
<label for="nuetral">Neutral</label>
<input type="radio" id="low">
<label for="low">Low</label>
<input type="radio" id="verylow">
<label for="verylow">Very Low</label>
  </div>

<div id="buttons">
<button class="cancel">Cancel</button>
<button class="update">Update</button>
  </div>

</div>

</div>
</body>
