<body>
    <h1>My Groups</h1>
    
    <div>
        <div >
        <p>Ranked by highest priority</p>
        </div>
        <div> 
        <button class = "btn btn-primary">Create Group</button>
        </div>
    </div>
    
    <div>
        <div>
            <div>
                <div>
                <p>Rank</p>
                </div>
    
                <div>
                <p>Image</p>
                </div>
    
                <div>
                <p>Group Name<br>5 friends, 56 posts</p>
                </div>
    
                <div>
                <button class = "btn btn-primary">View</button>
                </div>
    
                <div>
                <button  class = "btn btn-success">Edit</button>
                </div>
    
                <div>
                <button class = "btn btn-danger">Delete</button>
                </div>
            </div>
        </div>
    </div>
    
    </body>