<body>
  <div class = center> 
    <h1>My Groups</h1>
    
    <div>
        <div >
        <p>Ranked by highest priority</p>
        </div>
        <div> 
        <button class = "btn btn-primary">Create Group</button>
        </div>
    </div>
    
    <div>
        <div>
            <div>
                <div class = inline>
                <p>Rank</p>
                <p>Image</p>
                <p>Group Name<br>5 friends, 56 posts</p>
                <button class = "btn btn-primary">View</button>
                <button  class = "btn btn-success">Edit</button>
                <button class = "btn btn-danger">Delete</button>
            </div>
        </div>
    </div>
 </div> 
    </body>