<div class="header row-2">
    <div class="right-flex">
        <div class="profile-picture">
            <img src="" alt="">
        </div>
        <div class="inline">
            <ul class="profile-username">
                <li id="user-name">John Doe</li>
                <li id="user-username"><small>@username</small></li>
                <li id="user-email"><small>example@email.com</small></li>
            </ul>
        </div>
    </div>
    <div class="left-seperator">
        <p>72 Friends</p>
    </div>
</div>

<div id="post-container"></div>