<div class="header row-2">
    <div class="right-flex">
        <div class="profile-picture">
            <img src="" alt="">
        </div>
        <div class="inline">
            <ul class="profile-username">
                <li id="user-name">John Doe</li>
                <li id="user-username"><small>@username</small></li>
                <li id="user-email"><small>example@email.com</small></li>
            </ul>
        </div>
    </div>
    <div class="left-seperator">
        <p>72 Friends</p>
    </div>
</div>

<div id="post-container">
    <div class="post">
        <div id="post-header" class="row-2">
            <div class="left-flex">
                <div id="post-profile-image">
                    <img src="storage/images/check_box_checked.png">
                </div>
                
                <ul id="post-username">
                    <li id="name">John Doe</li>
                    <li id="username">@username</li>
                </ul>
            </div>
            
            <div id="post-options" class="right-flex">
                <div>
                    <button class="btn btn-success">
                        <span class="fas fa-edit"></span> Edit
                    </button>
                </div>
                <div>
                    <button class="btn btn-primary">
                        <span class="fas fa-eye"></span> Hide
                    </button>
                </div>
                <div>
                    <button class="btn btn-danger">
                        <span class="fas fa-trash"></span> Delete
                    </button>
                </div>
            </div>
        </div>
        
        <div id="#post-main-content" class="left-flex">
            <div class="left-flex">
                <div class="post_middle_info">
                    <p id="title">My First Post</p>
                    <p id="comment">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. 
                    </p>
                </div>
            </div>
            <div class="post-image-frame">
                <img class="post-image" src="storage/images/check_box_checked.png">
            </div>
        </div>

        <div id="#post-footer" class="row-3">
            <div id="post-reactions">
                <button class="btn btn-success">
                    <span class="fa-solid fa-thumbs-up"></span>
                </button>
                <button class="btn btn-danger">
                    <span class="fa solid fa-thumbs-down"></span>
                </button>
                <p id="#likes-count" class="strip inline">27 Likes</p>
            </div>
            <div id="#group-list">
                <p class="strip">Group: Work</p>
            </div>
            <div id="#timestamp">
                <p class="strip">11/29/2022 9:30pm</p>
            </div>
        </div>
    </div>
</div>