<div class = center> 
    <h1>Sent Requests</h1>
    
    <div class = "center-flex modal-footer">
        <div class = modal-body>
            <button class="btn btn-primary">
                Sent Requests
            </button>
        </div>
        <div class = modal-body>
            <button class="btn btn-primary">
                Recieved Requests
            </button>
        </div>
        <div class = modal-body>
            <button class="btn btn-primary">
                Blocked Users
            </button>
        </div>
        
    </div>
    <div class = modal-footer>
        <form>
             <input type="text" placeholder="Search..." name="search">
             <input type="submit" value="Submit" class="btn btn-primary">
        </form>
    </div>
    <div class = "row-2 modal-footer">
        <div class="row-2">
            <div class = right-flex>
            <div class="post-profile-image-frame">
                <img id="post-profile-image" src="storage/images/default-profile-picture.jpg">
            </div>
            </div>
            <div class="left-flex"><p>John Doe<br>@username</p></div>
        </div>
        
        <div class = "center-flex">
            <div class = modal-footer>
                <button class="btn btn-primary">
                    <span class="fas fa-eye"></span> View
                </button>
            </div>
            <div class = modal-footer>
                <button class="btn">
                    <span class="fa-solid fa-loader"></span>Pending...</button>
            </div>
        </div>
    </div>
 </div> 