label {
    font-weight: bold;
    color: #333132;
    display: inline-block;
    margin-bottom: 5px;
    font-size: 20px;
}

.form-group {
    margin-bottom: 15px;
}

.form-control {
    border-radius: 2px;
    border: 1px solid #d4dae2;
    background: #ffffff;
    padding: 6px 0;
    display: block;
    width: 100%;
    font-size: 16px;
    line-height: 1.43;
    color: #555;
}

.checkbox-control label, radio-control label {
    font-weight: normal;
}

.master-checkbox {
    padding-left: 4px;
}

.master-checkbox div:not(.master) {
    padding-left: 1em;
}


.center-radio{
    margin: auto;
    justify-content: center;
}