<div class="group-preview">
    <div class="left-flex">
        <div class="post-profile-image-frame">
            <img id="profile-picture" src="storage/images/default-profile-picture.jpg">
        </div>
        
        <ul id="group-info">
            <li id="name">Super Very Awesome Group</li>
            <li id="stats">5 friends, 56 posts</li>
        </ul>
    </div>

    <div class="preview-options" style="margin-top: 8px">
        <div class="row-3">
            <button type="submit" class="btn btn-primary">
                <span class="fa-solid fa-eye"></span> View Members
            </button>
            <button type="submit" class="btn btn-success">
                <span class="fas fa-edit"></span> Edit
            </button>
            <button type="submit" class="btn btn-danger">
                <span class="fas fa-trash"></span> Delete
            </button>
        </div>
    </div>
</div>