<ul>
    <li class="nav-blue">
        <a href="index" data-target="page">
            <span class="fa-solid fa-comments"></span> Feed
        </a>
    </li>
    <li class="nav-blue">
        <a href="profile" data-target="page">
            <span class="fa-solid fa-user"></span> Profile
        </a>
    </li>
    <li class="nav-blue">
        <a href="edit_post" data-target="page">
            <span class="fa-solid fa-pencil"></span> New Post
        </a>
    </li>
    <li class="nav-blue">
        <a href="friends" data-target="page">
            <span class="fa-solid fa-user-group"></span> Friends
        </a>
    </li>
    <li class="nav-blue">
        <a href="index" data-target="page">
            <span class="fa-solid fa-layer-group"></span> Groups
        </a>
    </li>
    <li class="nav-blue">
        <a href="logout">
            <span class="fa-solid fa-right-from-bracket"></span> Logout
        </a>
    </li>
</ul>