<div class="post-frame">
    <div class="post">
        <div id="post-header" class="row-2">
            <div class="left-flex">
                <div class="post-profile-image-frame">
                    <img id="post-profile-image" src="storage/images/default-profile-picture.jpg">
                </div>
                
                <ul id="post-username">
                    <li id="name">John Doe</li>
                    <li id="username">@username</li>
                </ul>
            </div>
            
            <form action="">
                <input type="hidden" name="post_id">
                <div id="post-options" class="right-flex">
                    <div>
                        <button type="submit" class="btn btn-success">
                            <span class="fas fa-edit"></span> Edit
                        </button>
                    </div>
                    <div id="post-visibility">
                        <input type="hidden" name="is_visible" value="false">
                        <button type="submit" class="btn btn-primary" data-action="/hide_post" data-method="PUT">
                            <span class="fa-sharp fa-solid fa-eye-slash"></span> Hide
                        </button>
                    </div>
                    <div>
                        <button type="submit" class="btn btn-danger" data-action="/delete_post" data-method="DELETE">
                            <span class="fas fa-trash"></span> Delete
                        </button>
                    </div>
                </div>
            </form>
        </div>
        
        <div id="post-main-content" class="left-flex">
            <div>
                <div id="main-post-info">
                    <p id="title"></p>
                    <p id="comment"></p>
                </div>
            </div>
            <div class="post-image-frame">
                <img id="post-image" src="">
            </div>
        </div>
    
        <div id="post-footer" class="row-3">
            <div id="post-reactions">
                <form action="/post_reaction" method="PUT" class="inline">
                    <input type="hidden" name="post_id">
                    <input type="hidden" name="rating" value="1">
                    <button type="submit" class="btn btn-success" id="upvote">
                        <span class="fa-solid fa-thumbs-up"></span>
                    </button>
                </form>
                <form action="/post_reaction" method="PUT" class="inline">
                    <input type="hidden" name="post_id">
                    <input type="hidden" name="rating" value="-1">
                    <button type="submit" class="btn btn-danger" id="downvote">
                        <span class="fa solid fa-thumbs-down"></span>
                    </button>
                </form>
                <p id="likes-count" class="strip inline"></p>
            </div>
            <div id="algorithm-score">
                <p class="strip"></p>
            </div>
            <div>
                <p id="timestamp" class="strip"></p>
            </div>
        </div>
    </div>
</div>