<form action="" method="POST">
    <input type="hidden" name="target_user_id">

    <div class="row-3">
        <button type="submit" class="btn btn-success" data-action="/accept_friend" data-method="PUT">
            <span class="fas fa-plus"></span> Add Friend
        </button>
        <button type="submit" class="btn btn-primary" data-action="/view_profile" data-method="POST">
            <span class="fa-solid fa-eye"></span> View Profile
        </button>
        <button type="submit" class="btn btn-danger" data-action="/remove_friend" data-method="DELETE">
            <span class="fa-solid fa-ban"></span> Block
        </button>
    </div>
</form>