<form action="" method="POST">
    <div class="row-3">
        <button type="submit" class="btn btn-primary" data-action="/profile">
            <span class="fa-solid fa-eye"></span> View Profile
        </button>
        <button type="submit" class="btn btn-warning">
            <span class="fa-sharp fa-solid fa-user-minus"></span> Remove Friend
        </button>
        <button type="submit" class="btn btn-danger">
            <span class="fa-solid fa-ban"></span> Block
        </button>
    </div>
</form>