<form action="">
    <div class="row-3">
        <button type="submit" class="btn btn-success" data-action="/view_group" data-method="POST">
            <span class="fas fa-eye"></span> Manage Members
        </button>
        <button class="btn btn-primary" data-toggle="modal" data-target="#add-group-modal">
            <span class="fas fa-edit"></span> Edit
        </button>
        <button type="submit" class="btn btn-danger" data-action="/delete_group" data-method="DELETE">
            <span class="fas fa-trash"></span> Delete
        </button>
    </div>
</form>