<form action="" method="POST">
    <input type="hidden" name="target_user_id">
    <input type="hidden" name="group_id">

    <div class="row-2">
        <button type="submit" class="btn btn-primary" data-action="/view_profile" data-method="POST">
            <span class="fa-solid fa-eye"></span> View Profile
        </button>
        <button type="submit" class="btn btn-danger" data-action="/remove_group_member" data-method="DELETE">
            <span class="fa-solid fa-ban"></span> Remove From Group
        </button>
    </div>
</form>